/*******************************************************************************
*
*  Modules » breadcrumb
*
*
*******************************************************************************/
.breadcrumb-container {
  position: absolute;
  top: 75.2px;
}

%breadcrumb {
  margin-bottom: 10px;
  list-style: none;
}
.breadcrumb {
    @extend %breadcrumb;
    li {
      font-size: 12.2px;
      display: inline-block;
      color: #777;
      &:first-child {
        font-size: 12px;
        color: #aaa;
      }

    }
}

.breadcrumb > li + li:before {
  content: "/";
  padding: 0 6.8px;
  color: #aaa;
}

.breadcrumb-link {
  text-decoration: none;
  color: #ccc;
}

.breadcrumb-link.is-active {
  color: #000 !important;
}

