/*********************************************************************
* Patterns » Popover
*
*
*********************************************************************/
.popover {
    position: relative;
    width: 300px;
    background-color: #f0f1f3;
    color: #2f3034;
    padding: 15px;
    border: 1px solid #ccc;
    border: 1px solid #bfc0c8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.arrow-border, .arrow {
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
}


/* POPOVER ARROW POSITIONING BOTTOM */

.popover.bottom .arrow-border {
    border-color: #bfc0c8 transparent transparent transparent;
    bottom: -20px;
    left: 50%;
}
.popover.bottom .arrow {
    border-color: #f0f1f3 transparent transparent transparent; 
    bottom:-19px;
    left: 50%;
}

/* POPOVER ARROW POSITIONING TOP*/

.popover.top .arrow-border {
    border-color: transparent transparent #bfc0c8 transparent;
    top: -21px;
    left: 50%;
}
.popover.top .arrow {
    border-color: transparent transparent #f0f1f3 transparent; 
    top:-20px;
    left: 50%;
}

/* POPOVER ARROW POSITIONING RIGHT*/

.popover.right .arrow-border {
    border-color: transparent transparent transparent #bfc0c8;
    top: 45%;
    right: -21px;
}
.popover.right .arrow {
    border-color: transparent transparent transparent #f0f1f3; 
    top:45%;
    right: -20px;
}


/* POPOVER ARROW POSITIONING LEFT*/

.popover.left .arrow-border {
    border-color: transparent #bfc0c8 transparent transparent;
    top: 45%;
    left: -21px;
}
.popover.left .arrow {
    border-color: transparent #f0f1f3 transparent transparent; 
    top:45%;
    left: -20px;
}
