/*******************************************************************************
*
*  UI » Buttons
*
*  Contains the styles for the site general buttons.
*
*******************************************************************************/

.md-bt {
	@include font-header;
  @include box-sizing(border-box);
  @include box-shadow(
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 1px 2px 1px rgba(255, 255, 255, 0.25) inset
  );
  padding: .5em 1em;
  background: #72ab2e;
  color: #fff !important;
	font-size:24px;
	font-weight:normal;
  text-shadow: 2px 2px #356010;
	text-decoration:none;
	text-transform: uppercase;
  position: relative;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.md-bt:active {
  top: 1px;
  @include box-shadow(
    0 0 0 rgba(0, 0, 0, 0),
    0 1px 0 1px rgba(0, 0, 0, 0.15) inset
  );
}


