/*********************************************************************
 * Patterns » PlaceHolers
 *
 *
 *********************************************************************/
// use in tabs and navigation

%navigation-list > li {
  list-style: none;
  float: left;
}

/* ==========================================================================
List Definition
========================================================================== */
%definition {
  dt {
    @extend %float_left;
    margin-right: 10px;
    font-weight: bold;
  }
  dd {
    font-weight: lighter;
  }
}


%clearfix {
  overflow: hidden;
  clear: both;
  display: block;
  zoom: 1;
}

/*********************************************************************
 *  =Image replacement
 *********************************************************************/
%image_replacement {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/*********************************************************************
 *  =Centered content
 *********************************************************************/
%centered_content {
  margin-left: auto;
  margin-right: auto;
}

%content-centralized {
  width: 1200px;
  margin: 0 auto;
}

/*********************************************************************
 *  =No underline
 *********************************************************************/
%no_underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* ==========================================================================
= Text Shadow
========================================================================= */
%text_shadow {
  text-shadow: -1px 1px #000;
}

/*********************************************************************
 *  =Ellipsis
 *********************************************************************/
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ==========================================================================
Floats 
========================================================================== */

%float_left {
  float: left;
}
%float_right {
  float: right;
}

/* ==========================================================================
rounded edges
========================================================================== */

%rounded-edges {
  border-radius: 4px;
  border: 1px solid #CCC;
}

%box-rounded {
  border-radius: 4px;
}
