/*********************************************************************
*
*  Config Module
*  
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

$TEXT-COLOR           : #333;

$SELECTION-BACKGROUND : #4cabdb;
$SELECTION-COLOR      : #fff;

$LINK-COLOR           : #ccc;
$LINK-HOVER-COLOR     : #000;
$LINK-ACTIVE-COLOR    : #0058ae;


/* Typography */
$FONT-SITE : 'helvetica neue',helvetica,arial;

$PROJECT-COLOR      : #ff6666;
